<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{padding: 0;
            margin: 0;}

            .box{background-color: yellow;
              height:500px;
              background-image: url(IMAGES/Milk-and-Draught-cow-breed-indian.jpg);
              background-position:center;
              background-repeat: no-repeat;
              background-size: cover;
              background-attachment: fixed;}
    </style>
</head>s
<body>
    <div class="box">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, asperiores voluptatum ducimus cupiditate minima ratione magni culpa pariatur quo officia, ex, nulla quos iusto molestias velit in deserunt nostrum dolor.
    </div>

    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam ab blanditiis suscipit qui incidunt aperiam maiores eius! Sapiente, eius ex sint debitis quae sunt consequuntur, similique adipisci quis ad voluptatem?</P>
    <br> <br> <br> <br>

    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae ipsa repellat tenetur facilis consequuntur voluptatem vel placeat rem? Dignissimos ipsam, necessitatibus eaque aperiam animi, consectetur debitis beatae quas maxime eos repudiandae dolor sed magnam at cupiditate dolore quae fuga nemo placeat enim veniam. Ut, iusto dolorem! Ex, delectus fugiat accusantium recusandae minima magni dolorum asperiores veniam alias optio quam placeat consectetur quos, maiores nulla quidem sequi eligendi illo quibusdam maxime aperiam sit rem expedita dolores. Obcaecati, dicta inventore dolore corrupti sunt possimus et voluptate, cum sequi delectus officia sint voluptas quia amet nisi, aperiam earum. Molestiae doloribus dolorem nobis reprehenderit?</P>
</body>
</html>